.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.cart-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
}

.item-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    padding: 15px;
    flex-grow: 1;
}

.item-details p {
    margin: 5px 0;
}

.item-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

.item-price {
    font-weight: bold;
    color: #000000;
    font-size: 1.2rem;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000000;
    margin: 0 5px;
}

.delete-icon {
    font-size: 1.2rem;
    color: #777777;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 30px;
    transition: color 0.3s;
}

.delete-icon:hover {
    color: #cc0000;
}

.total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.4rem;
    color: #000000;
}

.pay-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 90px;
    height: 50px;
}

.pay-button:hover {
    background-color: #525558;
}

