df-messenger {
    --df-messenger-bot-message: #141414;
    --df-messenger-button-titlebar-color: #1a1919;
    --df-messenger-button-titlebar-font-color: #fff;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: #fff;
    --df-messenger-user-message: #28608f;
    --df-messenger-input-box-color: #fff;
    --df-messenger-input-font-color: #333;
  }